<section class="new-training" fxLayout="" fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
                <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async)!= null">
                    <mat-select required placeholder="Choose Exercise" ngModel name="exercise" required>
                        <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise.id">
                            {{exercise.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
                <button type="submit" mat-button [disabled]="f.invalid" *ngIf="(exercises$ | async)!= null">
                    Start
                </button>
                <button type="button" mat-button *ngIf="(exercises$ | async) == null" (click)="onRefresh()">
                    Refresh
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>
