mat-sidenav {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgrey;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding: 6px;
}