<mat-toolbar color="primary">
    <div>
        <button (click)="onToggleSidenav()" mat-icon-button="" fxHide.gt-xs>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">NG Fitness</a></div>
    <div fxFlex="" fxLayout="" fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!(isAuthenticated$ | async)">
                <a routerLink="/signup">
                    <mat-icon>face</mat-icon>
                    <span class="nav-caption">Sign up</span>
                </a>
            </li>
            <li *ngIf="!(isAuthenticated$ | async)">
                <a routerLink="/login">
                    <mat-icon>input</mat-icon>
                    <span class="nav-caption">Login</span>
                </a>
            </li>
            <li *ngIf="(isAuthenticated$ | async)">
                <a routerLink="/training">
                    <mat-icon>fitness_center</mat-icon>
                    <span class="nav-caption">Training</span>
                </a>
            </li>
            <li *ngIf="(isAuthenticated$ | async)">
                <a style="cursor: pointer;" (click)="onLogout()">
                    <mat-icon>eject</mat-icon>
                    <span class="nav-caption">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>