<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" placeholder="Enter your email" matInput ngModel name="email" email required
                   #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Should not be empty.</mat-error>
            <mat-error *ngIf="emailInput.hasError('email')">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input type="password" placeholder="Enter your password" matInput ngModel name="password" required
                   minlength="6" #pwInput="ngModel">
            <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input placeholder="Your Birthdate" matInput [matDatepicker]="myDatepicker" [max]="maxDate" ngModel
                   name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox labelPosition="after" ngModel name="agree" required color="primary">Agree to Terms and
            Conditions
        </mat-checkbox>

        <button *ngIf="!(isLoading$| async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
            Submit
        </button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </form>
</section>
