<app-header (sidenavToggle)="sidenav.toggle()"></app-header>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" #sidenav role="navigation">
        <app-sidenav-list (closeSidenav)="sidenav.toggle()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

