<div fxLayout="" fxLayoutAlign="center center">
    <img alt="Ng-Fitness homepage image" fxFlex.gt-md="33.33%"
         src="../../assets/active-aerobics-beautiful-90317123.jpg">
</div>
<div class="welcome" fxLayout.lt-lg="column" fxLayoutGap.gt-md="1rem" fxLayoutAlign="center center">


    <section>
        <h1>ACTIVITY</h1>
        <p>Stay active and enjoy better health and more fun!</p>
    </section>
    <section>
        <h1>COMMUNITY</h1>
        <p>Get to know other people who share your passion!</p>
    </section>
    <section>
        <h1>CHALLENGES</h1>
        <p>Never stop! Dive into new challenges every day</p>
    </section>
</div>